---
title: Admin Home
---
extends layouts/_layout
block content
  .admin-file_upload
    aside.aside
      a(href="index.html").aside__logo
        img(src="img/logo.png", alt="")
      ul.aside__menu
        li
          a(href="#")
            img(src="img/home.png", alt="")
          ul
            li
              a(href="#") Home 
        li
          a(href="#")
            img(src="img/dashboard.png", alt="") 
        li
          a(href="#")
            img(src="img/cube.png", alt="")
            i.icon.icon-more
          ul
            li
              a(href="#") Executive 
            li
              a(href="#") Manager 
            li
              a(href="#") Analysts 
        li
          a(href="#")
            img(src="img/support.png", alt="")
    .admin-home__content
      .admin-home__header
        .container
          .row
            .col-sm-4.col-xs-12
              .admin-home__header__powered
                strong CPG
                p Powered by TEG
            .col-sm-8.col-xs-12
              .admin-home__header__info
                .admin-home__header__time
                  p Thursday, 28 March 2019  10:47 am (IST)
                .admin-home__header__notifications
                  a(href="#").dropdown-open
                    i.icon.icon-bell
                    span
                  b 23
                  ul
                    li
                      a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    li
                      a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .admin-home__header__user
                  a(href="#").dropdown-open Vaishakh
                    i.icon.icon-arrow-down
                  ul
                    li
                      a(href="#") Exit
      .container
        .admin-home__title
          h1 File Upload
          p (Dahboard Last updated 28th Mar, Thu 2019 9:20 PM)
        .breadcrumbs
          a(href="#") Home
          a(href="#") File Upload
        .admin-file_upload__slider
          .swiper-container.gallery-thumbs.swiper-admin-file
            .swiper-wrapper
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/manual.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary Log
                      a(href="#").btn.btn-secondary Upload
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/manual.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary Log
                      a(href="#").btn.btn-secondary Upload
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/manual.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary Log
                      a(href="#").btn.btn-secondary Upload
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/automatic.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary Log
                      a(href="#").btn.btn-secondary Upload
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/automatic.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary Log
                      a(href="#").btn.btn-secondary Upload
            .swiper-admin-file-prev
              i.icon.icon-arrow-left-circle
            .swiper-admin-file-next
              i.icon.icon-arrow-right-circle
          .swiper-container.gallery-top.gallery-top-admin-file_upload
            .swiper-wrapper
              .swiper-slide
                h2 Preview - File 01 
                  span v3
              .swiper-slide
                h2 Preview - File 01 
                  span v3
              .swiper-slide
                h2 Preview - File 01 
                  span v3
              .swiper-slide
                h2 Preview - File 01 
                  span v3
              .swiper-slide
                h2 Preview - File 01 
                  span v3