---
title: Admin Home
---
extends layouts/_layout
block content
  .admin-file_upload
    include ./pages-layouts/_aside
    .admin-home__content
      include ./pages-layouts/_header
      .container
        .admin-home__title
          h1 File Upload
          //- p (Dahboard Last updated 28th Mar, Thu 2019 9:20 PM)
        .breadcrumbs
          a(href="#") Home
          a(href="#") File Upload
        .admin-file_upload__slider
          .swiper-container.gallery-thumbs.swiper-admin-file
            .swiper-wrapper
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/manual.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary.admin-file_upload__log--open Log
                      a(href="#").btn.btn-secondary Upload
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/manual.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary.admin-file_upload__log--open Log
                      a(href="#").btn.btn-secondary Upload
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/manual.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary.admin-file_upload__log--open Log
                      a(href="#").btn.btn-secondary Upload
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/automatic.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary.admin-file_upload__log--open Log
                      a(href="#").btn.btn-secondary Connection
              .swiper-slide
                .admin-file_upload__slider__block
                  .admin-file_upload__slider__block__img
                    img(src="img/file.png", alt="")
                  .admin-file_upload__slider__block__text
                    h2 File 01
                      img(src="img/automatic.png", alt="")
                      span v3
                    strong Aravind Prasad
                    p Last updated
                      span 28th Mar, Thu 2019 9:20 PM
                    .admin-file_upload__slider__block__btn
                      a(href="#").btn.btn-primary.admin-file_upload__log--open Log
                      a(href="#").btn.btn-secondary Upload
            .swiper-admin-file-prev
              i.icon.icon-arrow-left-circle
            .swiper-admin-file-next
              i.icon.icon-arrow-right-circle
          .swiper-container.gallery-top.gallery-top-admin-file_upload
            .swiper-wrapper
              .swiper-slide
                .gallery-top__slide
                  h2 Preview - File 01 
                    span v3
                  .gallery-top__slide__warning
                    p
                      i.icon.icon-error
                      | Oops your file cannot be uploaded
                  .gallery-top__slide__table
                    .gallery-top__slide__table__title
                      h3 Select Quarter
                      select.gallery-top__slide__table__title__select
                        option(value="1") Q4 2018
                        option(value="2") Q4 2019
                    table.table
                      thead
                        tr
                          th Column 01
                          th.error-yellow
                            i.icon.icon-error
                            | Column 02
                          th.error-red
                            i.icon.icon-error
                            | Column 03
                          th Column 04
                      tbody
                        tr
                          td Row 01
                          td Row 01
                          td
                          td Row 01
                        tr
                          td Row 01
                          td Row 01
                          td Row 01
                          td Row 01
                      tfoot
                        tr
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
              .swiper-slide
                .gallery-top__slide
                  h2 Preview - File 01 
                    span v3
                  .gallery-top__slide__warning
                    p
                      i.icon.icon-error
                      | Oops your file cannot be uploaded
                  .gallery-top__slide__table
                    .gallery-top__slide__table__title
                      h3 Select Quarter
                      select.gallery-top__slide__table__title__select
                        option(value="1") Q4 2018
                        option(value="2") Q4 2019
                    table.table
                      thead
                        tr
                          th Column 01
                          th.error-yellow
                            i.icon.icon-error
                            | Column 02
                          th.error-red
                            i.icon.icon-error
                            | Column 03
                          th Column 04
                      tbody
                        tr
                          td Row 01
                          td Row 01
                          td
                          td Row 01
                        tr
                          td Row 01
                          td Row 01
                          td Row 01
                          td Row 01
                      tfoot
                        tr
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
              .swiper-slide
                .gallery-top__slide
                  h2 Preview - File 01 
                    span v3
                  .gallery-top__slide__warning
                    p
                      i.icon.icon-error
                      | Oops your file cannot be uploaded
                  .gallery-top__slide__table
                    .gallery-top__slide__table__title
                      h3 Select Quarter
                      select.gallery-top__slide__table__title__select
                        option(value="1") Q4 2018
                        option(value="2") Q4 2019
                    table.table
                      thead
                        tr
                          th Column 01
                          th.error-yellow
                            i.icon.icon-error
                            | Column 02
                          th.error-red
                            i.icon.icon-error
                            | Column 03
                          th Column 04
                      tbody
                        tr
                          td Row 01
                          td Row 01
                          td
                          td Row 01
                        tr
                          td Row 01
                          td Row 01
                          td Row 01
                          td Row 01
                      tfoot
                        tr
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
              .swiper-slide
                .gallery-top__slide
                  h2 Preview - File 01 
                    span v3
                  .gallery-top__slide__warning
                    p
                      i.icon.icon-error
                      | Oops your file cannot be uploaded
                  .gallery-top__slide__table
                    .gallery-top__slide__table__title
                      h3 Select Quarter
                      select.gallery-top__slide__table__title__select
                        option(value="1") Q4 2018
                        option(value="2") Q4 2019
                    table.table
                      thead
                        tr
                          th Column 01
                          th.error-yellow
                            i.icon.icon-error
                            | Column 02
                          th.error-red
                            i.icon.icon-error
                            | Column 03
                          th Column 04
                      tbody
                        tr
                          td Row 01
                          td Row 01
                          td
                          td Row 01
                        tr
                          td Row 01
                          td Row 01
                          td Row 01
                          td Row 01
                      tfoot
                        tr
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
              .swiper-slide
                .gallery-top__slide
                  h2 Preview - File 01 
                    span v3
                  .gallery-top__slide__warning
                    p
                      i.icon.icon-error
                      | Oops your file cannot be uploaded
                  .gallery-top__slide__table
                    .gallery-top__slide__table__title
                      h3 Select Quarter
                      select.gallery-top__slide__table__title__select
                        option(value="1") Q4 2018
                        option(value="2") Q4 2019
                    table.table
                      thead
                        tr
                          th Column 01
                          th.error-yellow
                            i.icon.icon-error
                            | Column 02
                          th.error-red
                            i.icon.icon-error
                            | Column 03
                          th Column 04
                      tbody
                        tr
                          td Row 01
                          td Row 01
                          td
                          td Row 01
                        tr
                          td Row 01
                          td Row 01
                          td Row 01
                          td Row 01
                      tfoot
                        tr
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
                          td
                            strong Summary
                            h4 Total No of Row - 
                              b 2304
                            span Total Warnings - 
                              b 0
                            p Total Errors - 
                              b 0
        .admin-file_upload__btn
          a(href="#").btn.btn-primary Cancel
          a(href="#").btn.btn-primary Add
          a(href="#").btn.btn-primary Submit
    a(href="#pop-up__exit" rel="modal:open").admin-file_upload__log--bg
    .admin-file_upload__log
      .admin-file_upload__log__content
        .admin-file_upload__log__title
          .admin-file_upload__log__title__text
            a(href="#pop-up__exit" rel="modal:open")
              i.icon.icon-arrow-left
              | Log - File 01
            p Business-overview.xls
          select.admin-file_upload__log__select
            option(value="1") Q4 2018
            option(value="2") Q4 2019
        .admin-file_upload__log__table
          table.table
            tbody
              tr.is-active
                td
                  .table__checkbox
                    input(type="checkbox" id="version-11" checked)
                    label(for="version-11")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 11
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-10")
                    label(for="version-10")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 10
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr.is-active
                td
                  .table__checkbox
                    input(type="checkbox" id="version-9" checked)
                    label(for="version-9")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 9
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-8")
                    label(for="version-8")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 8
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-7")
                    label(for="version-7")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 7
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-6")
                    label(for="version-6")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 6
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-5")
                    label(for="version-5")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 5
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-4")
                    label(for="version-4")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 4
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-3")
                    label(for="version-3")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 3
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-2")
                    label(for="version-2")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 2
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
              tr
                td
                  .table__checkbox
                    input(type="checkbox" id="version-1")
                    label(for="version-1")
                td
                  img(src="img/versions.png", alt="")
                td
                  strong Version 1
                td
                  img(src="img/manual.png", alt="")
                td
                  b Aravind Prasad
                  p Last updated 28th Mar, Thu 2019 9:20 PM
                td
                  span Warnings - 8
                td
                  a(href="#") Download
      


