---
title: Approval
---
extends layouts/_layout
block content
  .admin-home.approval
    include ./pages-layouts/_aside
    .admin-home__content
      include ./pages-layouts/_header
      .container
        .row
          .col-md-4.col-sm-3.col-xs-12
            .admin-home__title
              h1 Approval
            +breadcrumbs(['Approval'])
          .col-md-8.col-sm-9.col-xs-12
            .approval__filters
              .approval__filters__block
                span Approval Type
                select
                  option(value="1") Show All
                  option(value="2") Show All 2
                  option(value="3") Show All 3
                  option(value="4") Show All 4
              .approval__filters__block
                span File Type
                select
                  option(value="1") Spend
                  option(value="2") Spend 2
                  option(value="3") Spend 3
                  option(value="4") Spend 4
              .approval__filters__block
                span Owner
                select
                  option(value="1") Aravind Prasad
                  option(value="2") Aravind Prasad 2
                  option(value="3") Aravind Prasad 3
                  option(value="4") Aravind Prasad 4
        .approval__content
          .row
            .col-md-3.col-sm-6.col-xs-12
              .approval__block
                b.approval__block__type DATA
                strong Spend
                h3 Spend 01
                  img(src="img/manual.png", alt="")
                  b v3
                h4 Aravind Prasad
                span Last updated
                span 28th Mar, Thu 2019 9:20 PM
                ul
                  li
                    i.icon.icon-arrow-filled
                    | Get Data Summary 
                  li
                    i.icon.icon-arrow-filled
                    | Data Pivot
                  li.download
                    i.icon.icon-download
                    | Download Data
                .approval__block__btn
                  a(href="#").btn.btn-secondary Approve
                  a(href="#").btn.btn-primary Reject
            .col-md-3.col-sm-6.col-xs-12
              .approval__block
                b.approval__block__type DATA
                strong Spend
                h3 Spend 01
                  img(src="img/manual.png", alt="")
                  b v3
                h4 Aravind Prasad
                span Last updated
                span 28th Mar, Thu 2019 9:20 PM
                ul
                  li
                    i.icon.icon-arrow-filled
                    | Get Data Summary 
                  li
                    i.icon.icon-arrow-filled
                    | Data Pivot
                  li.download
                    i.icon.icon-download
                    | Download Data
                .approval__block__btn
                  a(href="#").btn.btn-secondary Approve
                  a(href="#").btn.btn-primary Reject
            .col-md-3.col-sm-6.col-xs-12
              .approval__block
                b.approval__block__type DATA
                strong Spend
                h3 Spend 01
                  img(src="img/manual.png", alt="")
                  b v3
                h4 Aravind Prasad
                span Last updated
                span 28th Mar, Thu 2019 9:20 PM
                ul
                  li
                    i.icon.icon-arrow-filled
                    | Get Data Summary 
                  li
                    i.icon.icon-arrow-filled
                    | Data Pivot
                  li.download
                    i.icon.icon-download
                    | Download Data
                .approval__block__btn
                  a(href="#").btn.btn-secondary Approve
                  a(href="#").btn.btn-primary Reject
            .col-md-3.col-sm-6.col-xs-12
              .approval__block
                b.approval__block__type Dashboard
                strong Spend
                h3 Spend 01
                  img(src="img/manual.png", alt="")
                  b v3
                h4 Aravind Prasad
                span Last updated
                span 28th Mar, Thu 2019 9:20 PM
                ul
                  li
                    i.icon.icon-arrow-filled
                    | Get Data Summary 
                  li
                    i.icon.icon-arrow-filled
                    | Data Pivot
                  li.download
                    i.icon.icon-download
                    | Download Data
                .approval__block__btn
                  a(href="#").btn.btn-secondary Approve
                  a(href="#").btn.btn-primary Reject
            .col-md-3.col-sm-6.col-xs-12
              .approval__block
                b.approval__block__type DATA
                strong Spend
                h3 Spend 01
                  img(src="img/manual.png", alt="")
                  b v3
                h4 Aravind Prasad
                span Last updated
                span 28th Mar, Thu 2019 9:20 PM
                ul
                  li
                    i.icon.icon-arrow-filled
                    | Get Data Summary 
                  li
                    i.icon.icon-arrow-filled
                    | Data Pivot
                  li.download
                    i.icon.icon-download
                    | Download Data
                .approval__block__btn
                  a(href="#").btn.btn-secondary Approve
                  a(href="#").btn.btn-primary Reject
            .col-md-3.col-sm-6.col-xs-12
              .approval__block
                b.approval__block__type DATA
                strong Spend
                h3 Spend 01
                  img(src="img/manual.png", alt="")
                  b v3
                h4 Aravind Prasad
                span Last updated
                span 28th Mar, Thu 2019 9:20 PM
                ul
                  li
                    i.icon.icon-arrow-filled
                    | Get Data Summary 
                  li
                    i.icon.icon-arrow-filled
                    | Data Pivot
                  li.download
                    i.icon.icon-download
                    | Download Data
                .approval__block__btn
                  a(href="#").btn.btn-secondary Approve
                  a(href="#").btn.btn-primary Reject
            .col-md-3.col-sm-6.col-xs-12
              .approval__block
                b.approval__block__type DATA
                strong Spend
                h3 Spend 01
                  img(src="img/manual.png", alt="")
                  b v3
                h4 Aravind Prasad
                span Last updated
                span 28th Mar, Thu 2019 9:20 PM
                ul
                  li
                    i.icon.icon-arrow-filled
                    | Get Data Summary 
                  li
                    i.icon.icon-arrow-filled
                    | Data Pivot
                  li.download
                    i.icon.icon-download
                    | Download Data
                .approval__block__btn
                  a(href="#").btn.btn-secondary Approve
                  a(href="#").btn.btn-primary Reject
            .col-md-3.col-sm-6.col-xs-12
              .approval__block
                b.approval__block__type DATA
                strong Spend
                h3 Spend 01
                  img(src="img/manual.png", alt="")
                  b v3
                h4 Aravind Prasad
                span Last updated
                span 28th Mar, Thu 2019 9:20 PM
                ul
                  li
                    i.icon.icon-arrow-filled
                    | Get Data Summary 
                  li
                    i.icon.icon-arrow-filled
                    | Data Pivot
                  li.download
                    i.icon.icon-download
                    | Download Data
                .approval__block__btn
                  a(href="#").btn.btn-secondary Approve
                  a(href="#").btn.btn-primary Reject
              