---
title: Manage User
---
extends layouts/_layout
block content
  .manage-user
    include ./pages-layouts/_aside
    .manage__content
      include ./pages-layouts/_header
      .container
        .admin-home__title
          h1 Home
          a(href="#").btn.btn-secondary 
            i.icon.icon-plus
            | Create User
        .breadcrumbs
          a(href="#") Home
          a(href="#") Manage Users
        .manage__table.manage-user__table
          .manage__table__content
            table.table
              thead
                tr
                  th 
                    span #
                    a(href="#")
                      i.icon.icon-sort-arrows
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="text" name="username" placeholder="username")
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="text" name="display-name" placeholder="display name")
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="email" name="email" placeholder="email")
                  th.table__drop-down.drop-down--open
                    span Role
                    a(href="#")
                      i.icon.icon-sort-arrows
                    ul
                      li
                        a(href="#").is-active Super Admin
                      li
                        a(href="#") Manager
                      li
                        a(href="#") Accountant
                  th
              tbody
                tr
                  td 
                    p 01
                  td 
                    p Vaishakh
                  td 
                    p Vaishakh Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td 
                    p Super Admin
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 02
                  td 
                    p Vaishakh
                  td 
                    p Vaishakh Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td 
                    p Super Admin
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 03
                  td 
                    p Vaishakh
                  td 
                    p Vaishakh Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td 
                    p Super Admin
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 04
                  td 
                    p Vaishakh
                  td 
                    p Vaishakh Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td 
                    p Super Admin
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 05
                  td 
                    p Vaishakh
                  td 
                    p Vaishakh Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td 
                    p Super Admin
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete






    a(href="#warning" rel="modal:open").manage__create--bg
    .manage__create.manage-user__create
      .manage__create__header
        a(href="#warning" rel="modal:open")
          i.icon.icon-angle-pointing
          | Create User
      form.manage__create__content
        .manage__create__form.manage__form
          .manage__form__title
            h3 
              span 01
              | User Details
            p Mandatory Fields
          .manage__form__input
            input(type="text" id="display-name" name="display-name" required)
            label(for="display-name") Display Name
          .manage__form__input
            input(type="text" id="username" name="username" required)
            label(for="username") Username
          .manage__form__input
            input(type="password" id="password" name="password" required)
            label(for="password") Password
          .manage__form__input
            input(type="email" id="email" name="email" required)
            label(for="email") Email
          .manage__form__radio
            h3 Select Role
            input(type="radio" name="role" id="role-1")
            label(for="role-1") Admin
            input(type="radio" name="role" id="role-2")
            label(for="role-2") Manager
            input(type="radio" name="role" id="role-3")
            label(for="role-3") Accountant
        .manage__create__form.manage__form.manage-user__create__form
          .manage__form__title
            h3
              span 02
              | Select User Privileges
          table.manage__form__table
            thead
              tr
                th
                  p features
                th
                  input(type="checkbox" id="select-privileges-view")
                  label(for="select-privileges-view") View
                th
                  input(type="checkbox" id="select-privileges-edit")
                  label(for="select-privileges-edit") Edit
            tbody 
              tr
                td 
                  p Dashboard
                td
                  input(type="checkbox" id="select-privileges-1-1" checked).select-privileges-view
                  label(for="select-privileges-1-1")
                td
                  input(type="checkbox" id="select-privileges-2-1" checked).select-privileges-edit
                  label(for="select-privileges-2-1")
              tr
                td 
                  p Manage Users
                td
                  input(type="checkbox" id="select-privileges-1-2").select-privileges-view
                  label(for="select-privileges-1-2")
                td
                  input(type="checkbox" id="select-privileges-2-2").select-privileges-edit
                  label(for="select-privileges-2-2")
              tr
                td 
                  p Manage Events
                td
                  input(type="checkbox" id="select-privileges-1-3").select-privileges-view
                  label(for="select-privileges-1-3")
                td
                  input(type="checkbox" id="select-privileges-2-3").select-privileges-edit
                  label(for="select-privileges-2-3")
        .manage__form__footer
          a(href="#warning" rel="modal:open").btn.btn-primary cancel
          button(type="submit").btn.btn-primary
            span create