---
title: Manage User
---
extends layouts/_layout
block content
  .admin-home.manage-user
    include ./pages-layouts/_aside
    .admin-home__content
      include ./pages-layouts/_header
      .container
        .admin-home__title
          h1 Manage Users
          a(href="#").btn.btn-secondary 
            i.icon.icon-plus
            | Create User
        +breadcrumbs(['Manage Users'])
        .manage-user__table
          .manage-user__table__content
            table.table
              thead
                tr
                  th 
                    span #
                    a(href="#")
                      i.icon.icon-sort-arrows
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="text" name="first-name" placeholder="first name")
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="text" name="last-name" placeholder="last name")
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="email" name="username" placeholder="username")
                  th 
                    a(href="#")
                      i.icon.icon-search
                    input(type="tel" name="phone" placeholder="phone")
                  th.table__drop-down.drop-down--open
                    span Role
                    a(href="#")
                      i.icon.icon-sort-arrows
                    ul
                      li
                        a(href="#").is-active Super Admin
                      li
                        a(href="#") Manager
                      li
                        a(href="#") Accountant
                  th
                    span status
                    a(href="#")
                      i.icon.icon-sort-arrows
                  th
              tbody
                tr
                  td 
                    p 01
                  td 
                    p Vaishakh
                  td 
                    p Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td
                    a(href="tel:8861389038") 
                      p 8861389038
                  td 
                    p Manager
                  td
                    input(type="checkbox" id="status-1")
                    label(for="status-1")
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#")
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 02
                  td 
                    p Vaishakh
                  td 
                    p Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td
                    a(href="tel:8861389038") 
                      p 8861389038
                  td 
                    p Super Admin
                  td
                    input(type="checkbox" id="status-2")
                    label(for="status-2") 
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 03
                  td 
                    p Vaishakh
                  td 
                    p Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td
                    a(href="tel:8861389038") 
                      p 8861389038
                  td 
                    p Super Admin
                  td
                    input(type="checkbox" id="status-3")
                    label(for="status-3") 
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 04
                  td 
                    p Vaishakh
                  td 
                    p Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td
                    a(href="tel:8861389038") 
                      p 8861389038
                  td 
                    p Super Admin
                  td
                    input(type="checkbox" id="status-4")
                    label(for="status-4") 
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 05
                  td 
                    p Vaishakh
                  td 
                    p Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td
                    a(href="tel:8861389038") 
                      p 8861389038
                  td 
                    p Super Admin
                  td
                    input(type="checkbox" id="status-5")
                    label(for="status-5") 
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 06
                  td 
                    p Vaishakh
                  td 
                    p Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td
                    a(href="tel:8861389038") 
                      p 8861389038
                  td 
                    p Super Admin
                  td
                    input(type="checkbox" id="status-6")
                    label(for="status-6") 
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                tr
                  td 
                    p 07
                  td 
                    p Vaishakh
                  td 
                    p Pilatholi
                  td 
                    a(href="mailto:vpilatholi@gmail.com") 
                      p vpilatholi@gmail.com
                  td
                    a(href="tel:8861389038") 
                      p 8861389038
                  td 
                    p Super Admin
                  td
                    input(type="checkbox" id="status-7")
                    label(for="status-7") 
                  td.table__drop-down.drop-down--open
                    a(href="#").table__more
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") 
                          i.icon.icon-edit
                          | Edit
                      li
                        a(href="#") 
                          i.icon.icon-delete
                          | Delete
                








    a(href="#").manage__create--bg
    .manage__create.manage-user__create
      .manage__create__header
        a(href="#warning" rel="modal:open")
          i.icon.icon-arrow-left
          | Create User - 
          span 8/25
      form.manage__create__content
        .manage__create__form.manage__form
          .manage__form__title
            h3 
              span 01
              | User Details
            p Mandatory Fields
          .manage__form__input
            input(type="text" id="first-name" name="first-name" required)
            label(for="first-name") First Name
          .manage__form__input
            input(type="text" id="last-name" name="last-name" required)
            label(for="last-name") Last Name
          .manage__form__input
            input(type="email" id="email" name="email" required)
            label(for="email") Email
          .manage__form__input
            input(type="tel" id="phone" name="phone" required)
            label(for="phone") Phone
          .manage__form__radio
            h3 Select Role
            input(type="radio" name="role" id="role-1" checked)
            label(for="role-1") Analyst
            input(type="radio" name="role" id="role-2")
            label(for="role-2") Admin
            input(type="radio" name="role" id="role-3")
            label(for="role-3") Executive
        .manage__create__form.manage__form.manage-user__create__form
          .manage__form__title
            h3
              span 02
              | Select User Privileges
          table.manage__form__table
            thead
              tr
                th
                  p features
                th
                  input(type="checkbox" id="select-privileges-view")
                  label(for="select-privileges-view")
            tbody 
              tr
                td 
                  p File Upload
                td
                  input(type="checkbox" id="select-privileges-1" checked).select-privileges-view
                  label(for="select-privileges-1")
              tr
                td 
                  p File Approval
                td
                  input(type="checkbox" id="select-privileges-2").select-privileges-view
                  label(for="select-privileges-2")
              tr
                td 
                  p DB  Approval
                td
                  input(type="checkbox" id="select-privileges-3").select-privileges-view
                  label(for="select-privileges-3")
              tr
                td 
                  p Publish
                td
                  input(type="checkbox" id="select-privileges-4").select-privileges-view
                  label(for="select-privileges-4")
              tr
                td 
                  p Manual Override
                td
                  input(type="checkbox" id="select-privileges-5").select-privileges-view
                  label(for="select-privileges-5")
              tr
                td 
                  p Add New File Types
                td
                  input(type="checkbox" id="select-privileges-6").select-privileges-view
                  label(for="select-privileges-6")
        .manage__form__footer
          a(href="#").btn.btn-primary.manage__create__close cancel
          button(type="submit").btn.btn-secondary
            span create