---
title: All pages
---
extends layouts/_layout
block content
  .pages
    h1 All Pages
    ul
      li
        a(href="index.html") Home
      li
        a(href="admin-home.html") Admin-Home
      li
        a(href="admin-file_upload.html") Admin File-upload
      li
        a(href="index.html") Home