---
title: Process Update
---
extends layouts/_layout
block content
  .admin-home.process-update
    include ./pages-layouts/_aside
    .admin-home__content
      include ./pages-layouts/_header
      .container
        .row
          .col-md-6.col-xs-12
            .admin-home__title
              h1 Process Update
              p (Last updated 28th Mar, Thu 2019 9:20 PM)
            +breadcrumbs(['Process update'])
          .col-md-6.col-xs-12
            .process-update__filters
              select.process-update__filters__select
                option(value="1") Select Brands
                option(value="2") Select Brands-2
                option(value="2") Select Brands-2
              a(href="#").btn.btn-secondary Update Data
              a(href="#").btn.btn-secondary Log
        .process-update__file-container
          .process-update__file
            .process-update__file__column
              .process-update__file__row
                .process-update__file__block.file-card.true
                  .file-card__img
                    img(src="img/file.png", alt="")
                  .file-card__text
                    h3 File 01
                    b Aravid Prasad
                    span Updated : 28th Mar, Thu 2019 9:20 PM
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
                .process-update__file__block.file-card.file-card--right.true
                  .file-card__img
                    img(src="img/file.png", alt="")
                    i.icon.icon-checked
                  .file-card__text
                    h3 Manually Approved
                    b Aravid Prasad
                    span Updated : 28th Mar, Thu 2019 9:20 PM
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
              .process-update__file__row
                .process-update__file__block.file-card.true
                  .file-card__img
                    img(src="img/file.png", alt="")
                  .file-card__text
                    h3 File 01
                    b Vaishakh Pilatholi
                    span Updated : 28th Mar, Thu 2019 9:20 PM
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
                .process-update__file__block.file-card.file-card--right.warning
                  .file-card__img
                    img(src="img/file.png", alt="")
                    i.icon.icon-warning
                  .file-card__text
                    h3 Manually Approved
                    strong (Total 3 Warnings)
                    span Updated : 28th Mar, Thu 2019 9:20 PM
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
              .process-update__file__row
                .process-update__file__block.file-card.error
                  .file-card__img
                    img(src="img/file.png", alt="")
                  .file-card__text
                    h3 File 01
                    b Aravid Prasad
                    span Updated : 28th Mar, Thu 2019 9:20 PM
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
                .process-update__file__block.file-card.file-card--right.error
                  .file-card__img
                    img(src="img/file.png", alt="")
                    i.icon.icon-warning
                  .file-card__text
                    h3 Manually Approved
                    b (Total 3 Warnings)
                    i Due on 04/04/2019
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
              .process-update__file__row
                .process-update__file__block.file-card.error
                  .file-card__img
                    img(src="img/file.png", alt="")
                  .file-card__text
                    h3 File 04
                    b (Total 3 Warnings)
                    i Due on 04/04/2019
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
                .process-update__file__block.file-card.file-card--right.true
                  .file-card__img
                    img(src="img/file.png", alt="")
                    i.icon.icon-checked
                  .file-card__text
                    h3 Manually Approved
                    b (Total 3 Warnings)
                    i Due on 04/04/2019
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
            .process-update__file__column
              .process-update__file__row.process-update__file__row-1
                .process-update__file__block.file-card.true
                  .file-card__img
                    img(src="img/file.png", alt="")
                  .file-card__text
                    h3 ETL
                    b Aravid Prasad
                    span Updated : 28th Mar, Thu 2019 9:20 PM
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic
                .process-update__file__block.file-card.file-card--right.true
                  .file-card__img
                    img(src="img/file.png", alt="")
                    i.icon.icon-checked
                  .file-card__text
                    h3 Dashboard
                    b Aravid Prasad
                    span Updated : 28th Mar, Thu 2019 9:20 PM
                  .file-card__btn
                    a(href="#").file-card__btn--button
                      i.icon.icon-more
                    ul
                      li
                        a(href="#") Change Owner
                      li
                        a(href="#") Change Due Date
                      li
                        a(href="#") Send Notification
                      li
                        a(href="#") Change manual to automatic