aside.aside
  a(href="index.html").aside__logo
    img(src="img/logo.png", alt="")
  ul.aside__menu
    li
      a(href="#")
        img(src="img/home.png", alt="")
      ul
        li
          a(href="#") Home 
    li
      a(href="#")
        img(src="img/dashboard.png", alt="") 
    li
      a(href="#")
        img(src="img/cube.png", alt="")
        i.icon.icon-more
      ul
        li
          a(href="#") Executive 
        li
          a(href="#") Manager 
        li
          a(href="#") Analysts 
    li
      a(href="#")
        img(src="img/support.png", alt="")