aside.aside
  a(href="index.html").aside__logo
    img(src="img/logo.png", alt="")
  ul.aside__menu
    li
      a(href="#").aside__menu__item.aside__menu__item--drop-down Home
        img(src="img/home.png", alt="")
      ul
        li
          a(href="#") Home 
    li
      a(href="#").aside__menu__item Dashboard
        img(src="img/dashboard.png", alt="") 
    li
      a(href="#").aside__menu__item.aside__menu__item--drop-down Users
        img(src="img/cube.png", alt="")
        i.icon.icon-more
      ul
        li
          a(href="#") Executive 
        li
          a(href="#") Manager 
        li
          a(href="#") Analysts 
    li
      a(href="#").aside__menu__item Support
        img(src="img/support.png", alt="")