.admin-home__header
  .container
    .row
      .col-sm-4.col-xs-12
        .admin-home__header__powered
          strong CPG
          p Powered by TEG
      .col-sm-8.col-xs-12
        .admin-home__header__info
          .admin-home__header__time
            p Thursday, 28 March 2019  10:47 am (IST)
          .admin-home__header__notifications
            a(href="#").dropdown-open
              i.icon.icon-bell
              span
            b 23
            .admin-home__header__notifications__drop-down.drop-down__header
              .drop-down__header__content
                a(href="#").drop-down__header__line.update
                  i.icon.icon-upadte
                  .drop-down__header__title
                    h4 Product Update
                    h3 New Feature - Reporting Tab
                    p Good news! We have now launched a new Reports tab
                  strong few sec ago
                  .drop-down__header__indicator
                a(href="#").drop-down__header__line.error
                  i.icon.icon-error
                  .drop-down__header__title
                    h3 File 2 - DB Connection Error
                      b Take Action
                  strong 2 mins ago
                  .drop-down__header__indicator
                a(href="#").drop-down__header__line.warning
                  i.icon.icon-error
                  .drop-down__header__title
                    h3 File 3 - Warning
                  strong yesterday
                  .drop-down__header__indicator
                a(href="#").drop-down__header__line.approved
                  i.icon.icon-checked-1
                  .drop-down__header__title
                    h3 File 2 - Approved
                  strong yesterday
                  .drop-down__header__indicator
                a(href="#").drop-down__header__more Read all notifications
          .admin-home__header__user
            a(href="#").dropdown-open Vaishakh
              i.icon.icon-arrow-down
            .admin-home__header__user__drop-down
              .admin-home__header__user__drop-down__content
                a(href="#")
                  i.icon.icon-settings
                  | Settings
                a(href="#")
                  i.icon.icon-feedback
                  | Feedback
                a(href="#").log-out Logout
                  i.icon.icon-logout
                