@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-down: "\EA01";
$icon-arrow-filled: "\EA02";
$icon-arrow-left-circle: "\EA03";
$icon-arrow-left: "\EA04";
$icon-arrow-right-2: "\EA05";
$icon-arrow-right-circle: "\EA06";
$icon-arrow-right: "\EA07";
$icon-bell: "\EA08";
$icon-checked-1: "\EA09";
$icon-checked: "\EA0A";
$icon-error: "\EA0B";
$icon-feedback: "\EA0C";
$icon-logout: "\EA0D";
$icon-more: "\EA0E";
$icon-plus: "\EA0F";
$icon-settings: "\EA10";
$icon-upadte: "\EA11";
$icon-warning: "\EA12";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow-down:before { content: $icon-arrow-down; }
.icon-arrow-filled:before { content: $icon-arrow-filled; }
.icon-arrow-left-circle:before { content: $icon-arrow-left-circle; }
.icon-arrow-left:before { content: $icon-arrow-left; }
.icon-arrow-right-2:before { content: $icon-arrow-right-2; }
.icon-arrow-right-circle:before { content: $icon-arrow-right-circle; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-bell:before { content: $icon-bell; }
.icon-checked-1:before { content: $icon-checked-1; }
.icon-checked:before { content: $icon-checked; }
.icon-error:before { content: $icon-error; }
.icon-feedback:before { content: $icon-feedback; }
.icon-logout:before { content: $icon-logout; }
.icon-more:before { content: $icon-more; }
.icon-plus:before { content: $icon-plus; }
.icon-settings:before { content: $icon-settings; }
.icon-upadte:before { content: $icon-upadte; }
.icon-warning:before { content: $icon-warning; }
