.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-filled {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left-circle {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right-circle {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bell {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-error {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-feedback {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logout {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-more {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-upadte {
  width: 1em;
  height: 1em;
  fill: initial;
}
