html
body
  font-family: 'Eina03', sans-serif
  font-size: 12px
  box-sizing: border-box
  position: relative
.container
  width: 100% !important
  max-width: 1165px
  box-sizing: border-box
  +r(1250)
    padding: 0 15px
a
  text-decoration: none
  transition: all 0.3s
input[type="submit"]
  appearance: none
  -webkit-appearance: none
textarea
  resize: none


+r(767)
	.hidden-xs
		display: none !important
@media only screen and (min-width: 768px) and (max-width: 1024px)
	.hidden-sm
		display: none !important
+rmin(1024)
	.hidden-md
		display: none !important




.aside
  width: 70px
  height: 100vh
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1)
  background-color: $charcoal-grey
  +center-column
  justify-content: flex-start
  padding: 20px 0
  position: fixed
  left: 0
  top: 0
  z-index: 10
  +r(767)
    width: 45px
  img
    width: 30px
    +r(767)
      width: 22px
  &__logo
    padding-bottom: 40px
  &__menu
    +center-column
    li
      position: relative
      padding: 15px 20px
      +tr
      +r(767)
        padding: 15px 10px
      &:before
        content: ''
        position: absolute
        width: 30px
        height: 100%
        right: -30px
        top: 0
      &:hover
        background: rgba(#000, 0.2)
        ul
          visibility: visible
          opacity: 1
        i
          color: $white
      ul
        visibility: hidden
        opacity: 0
        +tr
        position: absolute
        left: 80px
        top: 10px
        border-radius: 4px
        border: solid 0 $black
        background-color: $charcoal-grey
        padding: 6px 0
        +r(767)
          left: 60px
        &:before
          content: ''
          border: 10px solid transparent
          border-right: 10px solid $charcoal-grey
          position: absolute
          left: -17px
          top: 9px
        li
          padding: 0
          &:before
            display: none
        a
          padding: 6px 20px
          font-size: 12px
          font-weight: 600
          color: $pale-grey
          &:hover
            background: $charcoal-grey-two

    a
      display: flex
      align-items: center
      position: relative
      i
        position: absolute
        right: -17px
        color: $blue-grey
        font-size: 14px
        +tr
        +r(767)
          right: -14px


.breadcrumbs
  display: flex
  align-items: center
  a
    font-size: 12px
    font-weight: 600
    color: $brownish-orange
    &:after
      content: '/'
      margin: 0 5px
      color: $dark
    &:last-child
      color: $dark








.pages 
  padding-top: 60px
  h1
    color: $mango
    font-size: 30px
    margin-bottom: 30px
    text-align: center
  ul
    +center-column
    a
      color: rgba(52, 53, 54, 0.6)
      padding: 5px 0
      font-size: 18px
      display: block
      &:hover
        color: $leafy-green
